services:
  - type: web
    name: telegram-private-backend
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn main:app
    envVars:
      - key: API_ID
        sync: false
      - key: API_HASH
        sync: false
